@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
   <p>Sistema de cadastro de Ubuntus </p>
    <img class="imagem" src="https://itforum.com.br/wp-content/uploads/2018/06/desenvolvedor_movile-1.jpg"> 
</div>
